@font-face {
    font-family: inter;
    src: url(fonts/static/Inter-Regular.ttf);
}
@font-face {
    font-family: pin;
    src: url(fonts/Pinyon_Script/PinyonScript-Regular.ttf);
}
@font-face {
    font-family: dosis;
    src: url(fonts/dosis/static/Dosis-ExtraLight.ttf);
}
@font-face {
    font-family: light;
    src: url(fonts/light/ShadowsIntoLight-Regular.ttf);
}
@font-face {
    font-family: kalam;
    src: url(fonts/kalam/Kalam-Regular.ttf);
}
@font-face {
    font-family: sat;
    src: url(fonts/satisfy/Satisfy-Regular.ttf);
}
@font-face {
  font-family: dance;
  src: url(fonts/static/DancingScript-Regular.ttf);
}
@font-face {
  font-family: libre;
  src: url(fonts/libre/LibreBaskerville-Regular.ttf);
}
@font-face {
  font-family: mont;
  src: url(fonts/mont/Montserrat-VariableFont_wght.ttf);
}

header {
    background-color: black;
    background-image: radial-gradient(transparent 60%, rgba(0,0,0,0.8072478991596639) 100%), url("jessai.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Ensure the header covers the full viewport height */
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border: none; /* Remove any default border */
    box-sizing: border-box; /* Ensure padding and border are included in height/width calculation */
}

nav{
    font-family:inter;
    align-items: end;
    text-align: end;
    color: white;
    padding: 2vw;
    flex-grow: 1;
    align-self: flex-end;
    font-size:1.2vw;
}

a{
    color:white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.nv{
    padding: .3vw;
}

body, html {
    height: 100%;
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
    overflow-x: hidden;
    color: #181818;
}

body {
	overflow-x: hidden;
	color: #181818;
}
h1{
    margin-top: 0px;
    margin-bottom:0px;
    color:#ffecf2;
    font-family: pin;
    text-shadow: 2px 2px 10px #D9A6B7;
}
.mem {
    text-align: center;
    font-family:sat;
    color: #FFFAFA;
    font-size: 3em; /* Adjust the font size as needed */
    margin-bottom:18vh;
}


  ul,li{
    list-style:none;
  }
  ul{
    overflow:hidden;
    padding:3em;
  }
  ul li a{
    text-decoration:none;
    color:#000;
    background:#B398D1;
    display:block;
    height:9em;
    width:9em;
    padding: 1em;
    -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    -moz-transition:-moz-transform .15s linear;
    -o-transition:-o-transform .15s linear;
    -webkit-transition:-webkit-transform .15s linear;
  }
  ul li a:hover{
    text-decoration:none;
  }
  ul li{
    margin:1em;
    float:left;
  }
  ul li h2{
    margin:0;
    font-size:1vw;
    font-weight:bold;
    font-family: kalam;

  }
  ul li p{
    font-family: kalam;
    font-size: clamp(.4vw, .8vw, 1vw);
  }
  ul li a{
    -webkit-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    -moz-transform:rotate(-6deg);
  }
  ul li:nth-child(even) a{
    -o-transform:rotate(4deg);
    -webkit-transform:rotate(4deg);
    -moz-transform:rotate(4deg);
    position:relative;
    top:5px;
    background:#9E6993;
  }
  ul li:nth-child(3n) a{
    -o-transform:rotate(-3deg);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    position:relative;
    top:-5px;
    background:#A981B2;
  }
  ul li:nth-child(5n) a{
    -o-transform:rotate(5deg);
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    position:relative;
    top:-10px;
  }
  ul li a:hover,ul li a:focus{
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    position:relative;
    z-index:5;
  }
  ol{text-align:center;}
  ol li{display:inline;padding-right:1em;}
  ol li a{color:#fff;}


  .questionsection {
    background-color: #D9A6B7;
    font-size: 2vw;
    margin:0;
    padding:0;
    padding-top:1vw;
    overflow-x: hidden;
    height:fit-content;
  }
  .questionsection::-webkit-scrollbar {
    display: none;
  }

  .questionsection:nth-child(even){
    background-color: #D9A6B7;
    color: #FFFAFA;
  }
  .questionsection:nth-child(odd){
    color: black;
    background-color: #F6F9E5;
  }
  .question{
    font-family: mont;
    margin:0;
    text-align: center;
    align-self: center;
    padding-top: 3vh;
    padding-bottom: 0;
  
  }
  
  .answers {
    /* Flex container for horizontal scrolling */
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    padding-top: 0;
    padding-bottom: .3vw;
    padding-right: .3vw;
    padding-left: .3vw;
    gap: .1vw; /* Add space between sticky notes */
    list-style: none; /* Remove default list styles */
    margin: 0; /* Reset margin */
  }
  
  .answers li {
    /* Styling for each sticky note */
    flex: 0 0 auto; /* Prevent sticky notes from growing */
    width: 300px; /* Set a fixed width for each sticky note */
    border-radius: 10px; /* Example border radius */
    padding: 20px; /* Example padding */
  }

.explanation {
  padding: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height:fit-content;
  background:#A981B2;
}

.inner {
  font-family:mont;
  color: #FFFAFA;
  font-size:1.6vw;
  width: 40vw;
  text-align: center;
  padding:.5vh;
}

button {
  margin: 20px;
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.btn-8 {
  background-color: #f0ecfc;
background-image: linear-gradient(315deg, #f0ecfc 0%, #c797eb 74%);
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-8 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-8:before,
.btn-8:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #c797eb;
  /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
  transition: all 0.3s ease;
}
.btn-8:before{
   height: 0%;
   width: 2px;
}
.btn-8:after {
  width: 0%;
  height: 2px;
}
.btn-8:hover:before {
  height: 100%;
}
.btn-8:hover:after {
  width: 100%;
}
.btn-8:hover{
  background: transparent;
}
.btn-8 span:hover{
  color: #c797eb;
}
.btn-8 span:before,
.btn-8 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #c797eb;
  /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
  transition: all 0.3s ease;
}
.btn-8 span:before {
  width: 2px;
  height: 0%;
}
.btn-8 span:after {
  height: 2px;
  width: 0%;
}
.btn-8 span:hover:before {
  height: 100%;
}
.btn-8 span:hover:after {
  width: 100%;
}

@media (max-width: 650px) {
  nav{
    font-size:2.3vh;
  } 
  .inner {
    font-size:2vh;
    width: 60vw;
    text-align: center;
    padding:.5vh;
  }
  .answers li a{
    height:fit-content;
    width:fit-content;
  }
  .answers li{
    margin-bottom: 6.5vh;
    margin-top: 5vh;
  }

  ul li{
    margin:.5vw;
    float:left;
  }

  ul li h2{
    font-size:2.1vh;
  }

  ul li p{
    font-size:1.8vh;
  }
  .question{
    font-size: 2.7vh;;
  }
}