@font-face {
    font-family: dance;
    src: url(fonts/static/DancingScript-Regular.ttf);
  }
@font-face {
    font-family: pin;
    src: url(fonts/Pinyon_Script/PinyonScript-Regular.ttf);
}
@font-face {
    font-family: inter;
    src: url(fonts/static/Inter-Regular.ttf);
}

* {
	margin: 0;
	padding: 0;
}

*, *:after, *:before {
	box-sizing: border-box;
}

body, html {
	height: 100%;
}

body {
	overflow-x: hidden;
	color: #181818;
}

header{
    background-image: radial-gradient(transparent 60%, rgba(0,0,0,0.8072478991596639) 100%), url("jessai.jpg");
    background-position: center 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100vh;
    display: flex;
    flex-direction: column;
}

nav{
    font-family:inter;
    align-items: end;
    text-align: end;
    color: white;
    padding: 2vw;
    flex-grow: 1;
}

a{
    color:white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.nv{
    padding: .3vw;
}
.mem{
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 26vw;
    color: white;
    font-size: 2vw;
    height: auto;
    flex-grow: 5;
}

nav{
    font-size:1.2vw;
}
.first{
    font-family: pin;
}
.sec{
    font-family: pin;
    color: #D9A6B7;
}

.intro{
    background-image: url(hellokittyback.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introbox{
    background-color: #D9A6B7;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    border-width: 3px;
    width:45vw;
    height: fit-content;
    padding: 2vw;
    margin: 3vw;
    font-family: inter;
    color: white;
    font-size: 1.5vw;
}
section {
    padding: 2vw 5vw;
}

.mainpar{
    text-align: center;
    align-self: center;
}