@font-face {
    font-family: dance;
    src: url(fonts/static/DancingScript-Regular.ttf);
  }
@font-face {
    font-family: pin;
    src: url(fonts/Pinyon_Script/PinyonScript-Regular.ttf);
}
@font-face {
    font-family: inter;
    src: url(fonts/static/Inter-Regular.ttf);
}

* {
	margin: 0;
	padding: 0;
}

*, *:after, *:before {
	box-sizing: border-box;
}

body, html {
	height: 100%;
}

body {
	overflow-x: hidden;
	color: #181818;
}

header{
    background-image: radial-gradient(transparent 60%, rgba(0,0,0,0.8072478991596639) 100%), url("mainheader.png");
    background-position: center 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100vh;
    display: flex;
    flex-direction: column;
}

nav{
    font-family:inter;
    align-items: end;
    text-align: end;
    color: white;
    padding: 2vw;
    flex-grow: 1;
}
.nv{
    padding: .3vw;
}
.mem{
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 26vw;
    color: white;
    font-size: 2vw;
    height: auto;
    flex-grow: 5;
}

nav{
    font-size:1.2vw;
}
.first{
    font-family: pin;
}
.sec{
    font-family: pin;
    color: #D9A6B7;
}

.intro{
    background-image: url(hellokittyback.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introbox{
    background-color: #D9A6B7;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    border-width: 3px;
    width:45vw;
    height: fit-content;
    padding: 2vw;
    margin: 3vw;
    font-family: inter;
    color: white;
    font-size: 1.5vw;
}
section {
    padding: 2vw 5vw;
}

.timeline {
    position: relative;
    padding-left: 2vw;
    padding-right: 2vw;
    background: rgb(217,166,183);
    background: -moz-linear-gradient(180deg, rgba(217,166,183,1) 0%, rgba(251,244,246,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(217,166,183,1) 0%, rgba(251,244,246,1) 100%);
    background: linear-gradient(180deg, rgba(217,166,183,1) 0%, rgba(251,244,246,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d9a6b7",endColorstr="#fbf4f6",GradientType=1);
}
.timeline::before {
    content: '';
    background: #DEA6BE;
    width: 5px;
    height: 95%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.timeline-item {
    width: 100%;
    margin-bottom: 70px;
}
.timeline-item:nth-child(even) .timeline-content {
    float: right;
    padding: 40px 30px 10px 30px;
}
.timeline-item:nth-child(even) .timeline-content .date {
    right: auto;
    left: 0;
}
.timeline-item:nth-child(even) .timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
}
.timeline-item::after {
    content: '';
    display: block;
    clear: both;
}
.timeline-content {
    position: relative;
    width: 45%;
    padding: 10px 30px;
    border-radius: 4px;
    background: #f0e4d4;
    box-shadow: 0 20px 25px -15px rgba(0, 0, 0, .3);
}
.timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    right: -15px;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #f5f5f5;
}
.timeline-img {
    width: 30px;
    height: 30px;
    background: #c25d88;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-top: 25px;
    margin-left: -15px;
}
#idk {
    text-decoration: none;
    background: #b398d1;
    color: #fff;
    padding: 8px 20px;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 10px;
    display: inline-block;
    border-radius: 2px;
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, .6);
}
#idk:hover, #idk:active, #idk:focus {
    background: #CBB9DF;
    color: #fff;
    text-decoration: none;
}
.timeline-card {
    padding: 0 !important;
}
.timeline-card p {
    padding: 0 20px;
}
.timeline-card a {
    margin-left: 20px;
}
.timeline-item .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .4)), url('https://picsum.photos/1000/800/?random') center center no-repeat;
    background-size: cover;
}
.timeline-img-header {
    height: 200px;
    position: relative;
    margin-bottom: 20px;
}
.timeline-img-header h2 {
    color: #fff;
    position: absolute;
    bottom: 5px;
    left: 20px;
}
blockquote {
    margin-top: 30px;
    color: #757575;
    border-left-color: #b398d1;
    padding: 0 20px;
}
.date {
    background: #b398d1;
    display: inline-block;
    color: #fff;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
}
@media screen and (max-width: 768px) {
    .timeline::before {
        left: 50px;
   }
    .timeline .timeline-img {
        left: 50px;
   }
    .timeline .timeline-content {
        max-width: 100%;
        width: auto;
        margin-left: 70px;
   }
    .timeline .timeline-item:nth-child(even) .timeline-content {
        float: none;
   }
    .timeline .timeline-item:nth-child(odd) .timeline-content::after {
        content: '';
        position: absolute;
        border-style: solid;
        width: 0;
        height: 0;
        top: 30px;
        left: -15px;
        border-width: 10px 15px 10px 0;
        border-color: transparent #f5f5f5 transparent transparent;
   }
}
.title{
    font-family: inter;
}
.blurb{
    font-family: inter;
}
